img{
    width: 200px;
    height: 200px;
}

#red{
    color: red;
}
#blue{
    color: blue;
    
}
#orange{
    color: orange;
   
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
.vermelho{
    font-weight: normal;
}
.verde{
    font-weight: normal;
}
.azul{
    font-weight: normal;
}
.laranja{
    font-weight: normal;
}
.amarelo{
    font-weight: normal;
}